<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo0716101.Dao.StuMapper" >


    <select id="showAllStu" resultType="com.example.demo0716101.model.Student">
        select * from u_user
    </select>
    <insert id="addStu" parameterType="com.example.demo0716101.model.Student">

        insert into u_user(uid,ufingerid,uname,usex,uage,uclass,uacademy,urtime)values (#{uid},#{ufingerid},#{uname},#{usex},#{uage},#{uclass},#{uacademy},#{urtime})
    </insert>

    <delete id="deleteStu" parameterType="String">
        delete from u_user where uid=#{uid}

    </delete>

    <select id="selectOne" resultType="com.example.demo0716101.model.Student">
        select * from u_user where uid=#{uid}
    </select>

</mapper>