<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo0716101.Dao.StuMapper" >
    <select id="showAllStu" resultType="com.example.demo0716101.model.Student">
        select * from u_user
    </select>
    <insert id="addStu" parameterType="com.example.demo0716101.model.Student">

        insert into u_user(uid,ufingerid,uname,usex,uage,uclass,uacadmey,urtime)values (#{u_id},#{u_fingerid},#{u_name},#{u_sex},#{u_age},#{u_class},#{uacadmey},#{u_rTime})
    </insert>

    <delete id="deleteStu" parameterType="Integer">
        delete from u_user where id=#{id}

    </delete>

    <select id="selectOne" resultType="com.example.demo0716101.model.Student">
        select * from u_user where id=#{id}
    </select>

</mapper>