<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/st/h-ui/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/st/h-ui.admin/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}"  />
<!--<link rel="stylesheet" type="text/css" th:href="@{st/h-ui.admin/skin/default/skin.css}" id="skin" />-->
<link rel="stylesheet" type="text/css" th:href="@{/st/h-ui.admin/css/style.css}"  />
<head>
    <meta charset="UTF-8">
    <title>考勤表</title>
</head>
<body>

<h1>多条件查询考勤总汇</h1>
<form th:action="@{/table/search}" th:method="get">
    <!--<h1 th:text="${nowday}+'考勤'"></h1>-->
   <h3> 姓名:<input type="text" name="name" th:value="null" />(可进行模糊查询)<br>

        院系：<select  name="academy"   >
           <option th:value="null"></option>
           <option th:value="信息科学与工程学院">信息科学与工程学院</option>
           <option th:value="物理与机电学院" >物理与机电学院</option>
           <option th:value="数学与统计学院" >数学与统计学院</option>
           <option th:value="音乐舞蹈学院" >音乐舞蹈学院</option>
            </select>

       班级：<select name="classs"    >
           <option th:value="null"></option>
           <option th:value="计科">计科</option>
           <option th:value="电子" >电子</option>
           <option th:value="通信" >通信</option>
           <option th:value="音乐" >音乐</option>
       </select>

       <br>

       是否迟到：<select name="chidao"    >
           <option th:value="null"></option>
           <option  th:value="1" >是</option>
           <option th:value="0">否</option>
       </select>
       是否早退：<select name="zaotui"   >
           <option th:value="null"></option>
           <option th:value="1" >是</option>
           <option th:value="0">否</option>
       </select>

       时间：<input type="date" name="inputtime" th:value="null"  />


       <input type="submit"  style="width:70px;height:35px" value="搜索"/></h3>
    <!--上班时间: <input type="time" name="worktime" th:value="${wtime}" />(默认为09:00)<br>-->
    <!--下班时间: <input type="time" name="resttime" th:value="${rtime}"/>(默认为18:00)-->

</form>



<!--搜索-->
<!--<form th:action="@{/timu/search}"  th:method="post" >-->
    <!--<input type="text"  name="search" value="请输入关卡号"  >-->
    <!--<input type="submit" value="搜索" >-->
<!--</form>-->

<table class="table table-border table-bordered table-hover table-bg">
    <tr>

        <th bgcolor="#ADADAD">姓名</th>
        <th bgcolor="#ADADAD">院系</th>
        <th bgcolor="#ADADAD">班级</th>
        <th bgcolor="#ADADAD">第一次打卡时间</th>
        <th bgcolor="#ADADAD">第二次打卡时间</th>
        <th bgcolor="#ADADAD">是否迟到</th>
        <th bgcolor="#ADADAD">是否早退</th>

    </tr>

    <tr th:each="check : ${todaycheck}"   >
        <td th:text="${check.uname}">姓名</td>
        <td th:text="${check.uacademy}">院系</td>
        <td th:text="${check.uclass}">班级</td>
        <td th:text="${#dates.format(check.clock_in_1, 'yyyy-MM-dd hh:mm:ss')}">第一次打卡时间</td>
        <td th:text="${#dates.format(check.clock_in_2, 'yyyy-MM-dd hh:mm:ss')}">第二次打卡时间</td>
        <td bgcolor="red" th:if="${check.late}==1" th:text="迟到">迟到</td>
        <td bgcolor="#7cfc00" th:if="${check.late}==0" th:text="正常" >正常</td>
        <td bgcolor="red" th:if="${check.befor}==1" th:text="早退">早退</td>
        <td bgcolor="#7cfc00" th:if="${check.befor}==0" th:text="正常">正常</td>

    </tr>

</table>
</body>
</html>