<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <meta charset="UTF-8" />
    <title>Fingerprint Attendance OS</title>

</head>
<body style=>
<h1 >I am a coder!</h1>


<table border="1">
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>性别</th>
        <th>年龄</th>
        <th>院系</th>
        <th>班级</th>
        <th>注册时间</th>
        <th>指纹id</th>
    </tr>

    <tr th:each="user : ${stu}">
        <td th:text="${user.u_id}">学号</td>
        <td th:text="${user.u_name}">姓名</td>
        <td th:text="${user.u_sex}">性别</td>
        <td th:text="${user.u_age}">年龄</td>
        <td th:text="${user.u_academy}">院系</td>
        <td th:text="${user.u_classes}">班级</td>
        <td th:text="${user.u_rTime}">注册时间</td>
        <td th:text="${user.u_fingerId}">指纹id</td>


        <td><a th:href="@{/stu/delet(id=${user.u_id})}">delete</a></td>

    </tr>

</table>
<br><br>



<!--<form th:action="@{/stu/addStu}" th:object="${student}" method="POST">-->
    <!--<label>学号:</label>-->
    <!--<input type="text" th:field="*{u_id}"  /><br/>-->

    <!--<label >姓名:</label>-->
    <!--<input type="text" th:field="*{u_name}"  /> <br/>-->

    <!--<label >性别:</label>-->
    <!--<select  th:field="*{u_sex}" >-->
        <!--<option th:value="男" >男</option>-->
        <!--<option th:value="女">女</option>-->
    <!--</select>-->
    <!--<br>-->

    <!--<label>年龄:</label>-->
    <!--<input type="text" th:field="*{u_age}" size="10" value="198" /><br/>-->

    <!--<label>指纹录入</label>-->
    <!--<input type="text" th:field="*{u_fingerId}" size="10" value="198" /><br/>-->

    <!--<label >院系</label>-->
    <!--<select th:field="*{u_academy}">-->
        <!--<option th:value="xxxx学院">1xxxx学院</option>-->
        <!--<option th:value="xxxx学院" >2xxxx学院</option>-->
    <!--</select>-->

    <!--<label >班级</label>-->
    <!--<select th:field="*{u_classes}">-->
        <!--<option th:value="xxx班级">1xxxx班级</option>-->
        <!--<option th:value="xxx班级" >2xxxx班级</option>-->
    <!--</select>-->

    <!--<label>注册时间</label>-->
    <!--<input type="text" th:field="*{u_rTime}" size="10" value="198" /><br/>-->



    <!--<br/>-->
    <!--<input type="submit" value="添加"/>-->

<!--</form>-->


<!--<select>
    <option th:each="user:${userList}" th:value="${user.id}" th:text="${user.name}">我是默认值</option>
</select>-->

</body>
</html>