<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/st/h-ui/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/st/h-ui.admin/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}"  />
<!--<link rel="stylesheet" type="text/css" th:href="@{st/h-ui.admin/skin/default/skin.css}" id="skin" />-->
<link rel="stylesheet" type="text/css" th:href="@{/st/h-ui.admin/css/style.css}"  />
<head>
    <meta charset="UTF-8">
    <title>考勤表</title>
</head>
<body>

<h1>考勤总汇</h1>
<form th:action="@{/table/setTime}" th:method="get">
    <!--<h1 th:text="${nowday}+'考勤'"></h1>-->
   <h3> 选择日期查询考勤:<input type="date" name="inputdate" th:value="${nowday}"  /> <input type="submit"  style="width:70px;height:35px" value="搜索"/></h3>
    <!--上班时间: <input type="time" name="worktime" th:value="${wtime}" />(默认为09:00)<br>-->
    <!--下班时间: <input type="time" name="resttime" th:value="${rtime}"/>(默认为18:00)-->

</form>



<!--搜索-->
<!--<form th:action="@{/timu/search}"  th:method="post" >-->
    <!--<input type="text"  name="search" value="请输入关卡号"  >-->
    <!--<input type="submit" value="搜索" >-->
<!--</form>-->

<table class="table table-border table-bordered table-hover table-bg">
    <tr>

        <th>姓名</th>
        <th>院系</th>
        <th>班级</th>
        <th>第一次打卡时间</th>
        <th>第二次打卡时间</th>
        <th>是否迟到</th>
        <th>是否早退</th>

    </tr>

    <tr th:each="check : ${todaycheck}"   >
        <td th:text="${check.uname}">姓名</td>
        <td th:text="${check.uacademy}">院系</td>
        <td th:text="${check.uclass}">班级</td>
        <td th:text="${#dates.format(check.clock_in_1, 'yyyy-MM-dd hh:mm:ss')}">第一次打卡时间</td>
        <td th:text="${#dates.format(check.clock_in_2, 'yyyy-MM-dd hh:mm:ss')}">第二次打卡时间</td>
        <td bgcolor="red" th:if="${check.late}==1" th:text="迟到">迟到</td>
        <td bgcolor="#7cfc00" th:if="${check.late}==0" th:text="正常" >正常</td>
        <td bgcolor="red" th:if="${check.befor}==1" th:text="早退">早退</td>
        <td bgcolor="#7cfc00" th:if="${check.befor}==0" th:text="正常">正常</td>

    </tr>

</table>
</body>
</html>